body {
    background-color: #1a1a33; /* Koyu lacivert (dark navy) rengi */
    color: #ffffff; /* Yazı rengi */
}

/* Dilerseniz diğer öğelerin stillerini de buraya ekleyebilirsiniz */
.circle-photo{
    padding: 0;
    margin: 0;
}

.circle-photo {
    width: 150px; /* İstediğiniz boyuta göre ayarlayabilirsiniz */
    height: 150px; /* İstediğiniz boyuta göre ayarlayabilirsiniz */
    border-radius: 50%; /* Dairesel şeklin oluşturulması */
    overflow: hidden; /* Gereksiz içeriklerin gizlenmesi */
}

.circle-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Resmin boyutlarını koruyarak tam alanı kaplaması */
}
body {
    padding: 0;
    margin: 0;
}

.menu-container {
    position: absolute;
    top: 300px; /* Yüksekliği dilediğiniz gibi ayarlayabilirsiniz */
    left: 20px; /* Sol kenardan mesafeyi dilediğiniz gibi ayarlayabilirsiniz */
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list li {
    margin-bottom: 50px; /* Menü öğeleri arasında boşluk bırakmak için */
    color: #ffffff; /* Menü metin rengi */
    font-size: 18px; /* Menü metin boyutu */
    cursor: pointer; /* Fare üzerine gelince el işareti gösterme */
}
